<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .red-text{
            color: red
        }
    </style>
</head>
<body onload="stopLoaderScreen()">
    <div id="loaderScreen">

    </div>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/growl/jquery.growl.css")
    @Scripts.Render("~/Content/growl/jquery.growl.js")
    @Scripts.Render("~/Content/custom")
    @Styles.Render("~/Content/loader/loader.css")
    @Scripts.Render("~/Content/loader/loader.js")
    <!-- Partial View Alert Message -->
    @if (TempData["ListAlert"] != null)
    {
        @Html.Partial("_AlertMessage", TempData["ListAlert"])
    }
    
</body>
</html>
<script>
    $(document).on("submit", 'form', function (e) {
        // SHOW LOADER - Form submit
        startLoaderScreen();
    });
    $(document).ajaxStart(function () {
        // SHOW LOADER - Ajax start
        startLoaderScreen();
    });
    $(document).ajaxComplete(function (event, xhr) {
        // FADE OUT LOADER - Ajax success
        stopLoaderScreen();
        if (xhr.status == 403) {
            location.href = "/Auth"
        }
    });
    window.addEventListener("pageshow", function (event) {
        var historyTraversal = event.persisted || (typeof window.performance != "undefined" && window.performance.navigation.type === 2);
        if (historyTraversal) {
            // FADE OUT LOADER - history traversal
            stopLoaderScreen();
        }
    });
</script>

