@model RecycleHelperApplication.ViewModels.DetailPanduanViewModels.IndexViewModel
@using RecycleHelperApplication.Service.Helper;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Name Section-->
<div style="margin: 15px 0">
<div class="control-label">
    <b>Panduan</b>
</div>
@if (Model.IdUser == Convert.ToInt32(Session[SessionEnum.USER_ID]))
{
    <div id="name_fixed">
        <h3 style="display: inline">@Model.NamaPanduan</h3>
        <a href="javascript:void(0);" id="icon_edit"><i class="glyphicon glyphicon-edit" style="color: darkgrey"></i></a>
    </div>
    <div id="name_change" hidden>
        @Html.Editor("edit_name", new { htmlAttributes = new { Value = Model.NamaPanduan, @style = "padding:0;border:0;font-size:24px;" } })
    </div>
}
else
{
    <div id="name_fixed">
        <h3 style="display: inline">@Model.NamaPanduan</h3>
    </div>
}
</div>
<hr />
<!--List Bahan Section-->
<div id="pv_BahanManagement">

</div>
<hr />
<!--Deskripsi Section-->
<div id="pv_Deskripsi">

</div>
<!--Script-->
<script>
    $(document).ready(function(){
        $('#ddlKategoriBahan').trigger('change')
        $("#pv_BahanManagement").load('@Url.Action("_TableBahan", "DetailPanduan", new { idPanduan = Model.IdPanduan })')
        $("#pv_Deskripsi").load('@Url.Action("_Description", "DetailPanduan", new { idPanduan = Model.IdPanduan })')
    })
    function ddlKategoriBahanChange(IDKategoriBahan) {
        var data = {
            IDKategoriBahan: IDKategoriBahan
        }
        $.ajax({
            url: location.origin + "/AjaxData/GetListBahanByKategori",
            type: 'POST',
            async: false,
            data: data,
            beforeSend: function(e){
                startLoaderScreen();
            },
            success: function (res) {
                $('#ddlBahan').empty();

                $.each(res, function (index, paroki) {
                    $('#ddlBahan').append($('<option/>', {
                        value: paroki.Value, text: paroki.Text
                    }));
                });
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>
@if (Model.IdUser == Convert.ToInt32(Session[SessionEnum.USER_ID]))
{
<script>
$('#icon_edit').click(function() {
    $('#name_fixed').hide();
    $('#name_change').show();
    $('#edit_name').trigger('focus')
})
$('#edit_name').blur(function() {
    var newName = $('#edit_name').val()
    $.ajax({
        type: 'POST',
        url: location.origin + '/DetailPanduan/_ChangeName',
        data:{
            id: @Model.IdPanduan,
            name: newName
        },
        beforeSend: function(){
            startLoaderScreen()
        },
        success: function(data){
            if (data.status == "success")
            {
                $('#edit_name').val(data.name)
                $('#name_fixed>h3').html(data.name)
                $('#name_change').hide();
                $('#name_fixed').show();
            }
            else
            {
                $('#edit_name').val('@Model.NamaPanduan')
                $('#name_change').hide();
                $('#name_fixed').show();
                showAlert('error', data.message)
            }
        },
        error: function(e){
            showAlert('error', 'request failed')
        }
    })
})
</script>
}