@model RecycleHelperApplication.ViewModels.DetailPanduanViewModels.DetailPanduanViewModel
@using RecycleHelperApplication.Model.Models;
@using RecycleHelperApplication.Service.Helper;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Bahan> ListBahan = Model.ListBahan;
    var NamaPanduan = Model.NamaPanduan;
    var DeskripsiPanduan = Model.DeskripsiPanduan;
    var UserName = Model.UserName;
    var IdUser= Model.IdUser;
}

<!DOCTYPE html>
<style>
    .f1{
        width: 50%;
        display: inline-block;
        background-color: dimgrey;
        padding: 10px;
        margin-bottom: 20px;
    }
     .float-container {
	    max-width: 1460px;
	    margin: auto;
    }

    .float-child1 {
	    display: inline-block;
	    width: 30%;
	    min-width: 350px;
	    padding: 0;
	    margin: 0;
	    position: relative;
        padding: 10px;
    }  
    .float-child2 {
	    width: 65%;
	    min-width: 350px;
	    display: inline-block;
	    vertical-align: top;
	    padding: 15px 0;
        padding: 10px;
    }  
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="float-container">
        @if (IdUser.ToString() != Session[SessionEnum.USER_ID].ToString())
        {
            <h3>@NamaPanduan</h3>
            <p>by: @UserName</p><br />
            <div class="float-child1">
                <table id="tbl_bahan">
                    <thead>
                        <th><h4>Bahan :</h4></th>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < ListBahan.Count; i++)
                        {
                            int id = ListBahan[i].IdBahan;
                            if (id != 0)
                            {
                                <tr>
                                    <td>- @ListBahan[i].NamaBahan</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <br />

            <div class="float-child2">
                <h4>Keterangan :</h4>
                <p>@DeskripsiPanduan</p>
            </div>
        }
        else
        {
            <div class="pv_bahan">

            </div>
            using (Html.BeginForm("Save", "DetailPanduan", FormMethod.Post, new { id = "form_save_panduan" }))
            {
                @Html.HiddenFor(model => model.IdPanduan, new
               {
                   Value = Model.IdPanduan,
                   Id ="idPanduan_field"
               })
                <div class="form-group">
                    <div class="control-label">
                        <b>Nama Panduan<span class="red-text">*</span></b>
                    </div>
                    @Html.EditorFor(model => model.NamaPanduan, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control input - sm",
                       @id = "namaPanduan_field"
                   }
               })
                    <span class="red-text">
                        @Html.ValidationMessageFor(model => model.NamaPanduan)
                    </span>

                    <div class="control-label">
                        <b>Deskripsi Panduan<span class="red-text">*</span></b>
                    </div>
                    @Html.TextAreaFor(model => model.DeskripsiPanduan, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       @id = "deskripsiPanduan_field"
                   }
               })
                    <span class="red-text">
                        @Html.ValidationMessageFor(model => model.DeskripsiPanduan)
                    </span>
                    @Html.HiddenFor(model => model.IdUser, new
               {
                   Value = Model.IdUser,
                   Id = "idUser_field"
               })
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            }
        }
</body>
</html>
