@model RecycleHelperApplication.ViewModels.DetailPanduanViewModels.DetailPanduanViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> ListKategoriBahan = Model.ListKategoriBahan;
    List<SelectListItem> ListPilihanBahan = Model.ListPilihanBahan;
    List<string> ListSelectedBahanId = (!String.IsNullOrEmpty(Model.SelectedBahanIds)) ? Model.SelectedBahanIds.Split(',').ToList() : new List<string>();
}

@using (Ajax.BeginForm("_SavePassword", "User", new AjaxOptions { UpdateTargetId = "pv_pwmanage", OnSuccess = "OnSuccess" }))
{

    @Html.HiddenFor(model => model.SelectedBahanIds, new { Id = "selected_bahan", Value = Model.SelectedBahanIds })
    @Html.HiddenFor(model => model.FromRemoveBahan, new { Id = "from_remove", Value = Model.FromRemoveBahan })
    <div class="form-group">
        <div class="control-label">
            <b>Category<span class="red-text">*</span></b>
        </div>
        @Html.DropDownListFor(model => model.IdKategoriBahan,
            new SelectList(ListKategoriBahan, "Value", "Text"),
            new
            {
                @class = "input-sm form-control",
                @id = "ddlKategoriBahan",
                @onchange = "ddlKategoriBahanChange(this.value)"
            })
        <span class="red-text">
            @Html.ValidationMessageFor(model => model.IdKategoriBahan)
        </span>
    </div>
            <div class="form-group">
                <div class="control-label">
                    <b>Bahan<span class="red-text">*</span></b>
                </div>
                @Html.DropDownListFor(model => model.IdBahan,
            new SelectList(ListPilihanBahan, "Value", "Text"),
            new
            {
                @class = "input-sm form-control",
                @id = "ddlBahan"
            })
                <span class="red-text">
                    @Html.ValidationMessageFor(model => model.IdBahan)
                </span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add!" class="btn btn-primary" />
            </div>
}